// animation dropdown language
.dropdown {
  opacity: 0;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;
  visibility: hidden;
}

.dropdown-open {
  opacity: 1;
  visibility: visible;
}

// dropdown content chossen
.dropdown-menu-language {
  background-color: var(--activeText);
}

.language-chossen {
  color: var(--activeTextDropDown);
  font-weight: 500;

  &:hover {
    cursor: pointer;
    background-color: var(--activeHoverDropDown);
  }
}
