.btn {
  background-color: black;
  color: white;
}

.active {
  background-color: var(--primary-color);
}
// css main swiper
.swiper-wrapper {
  width: 100%;
  height: max-content !important;
  padding-bottom: 10px !important;
  -webkit-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
  position: relative;
}
// css thumbnail swiper
.thumbnail-swiper-home {
  transition: all ease-in-out 0.3s;

  &:hover {
    z-index: 5;
    transform: scale(0.96);
  }
}

// css nút tròn bên dưới slider
.swiper-pagination-bullet {
  background: #4f46e5;
}

// css thumbnail swiper
.swiper-Thumbnail {
  box-shadow: var(--boxShadow);

  &:hover {
    transform: scale(1.1);
  }
}

// background for button title
.custom-background {
  position: relative;
  background-color: var(--primary-color); /* Red color */
}

.custom-background::before,
.custom-background::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50px;
  background-color: var(--primary-color);
}

.custom-background::before {
  left: -50px;
  clip-path: polygon(100% 0, 0 50%, 100% 100%);
}

.custom-background::after {
  right: -50px;
  clip-path: polygon(0 0, 100% 50%, 0 100%);
}
// button category
.btn-category {
  background-color: var(--secondary-color);
  transition: all ease-in-out 0.3s;
  &:hover {
    background-color: var(--thirdary-color);
  }
}

// text title
.product-title {
  color: var(--secondary-color);
  text-shadow: var(--activeTextShadow);
}

//  product-card
.product-card {
  width: 250px;
  background: var(--activeProductCard);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all ease-in-out 0.3s;
  color: var(--activeText);

  &:hover {
    color: var(--secondary-color);
  }
}

.product-card-img {
  transition: all ease-in-out 0.3s;
  &:hover {
    transform: scale(1.1);
  }
}

// button add cart
.btn-add-cart {
  background-color: var(--secondary-color);
  color: white;
  font-weight: 500;
  transition: all ease-in-out 0.3s;
  box-shadow: var(--boxShadow);
  &:hover {
    background-color: var(--primary-color);
    color: black;
  }
}

// css about kfc poster
.about-kfc-bottom {
  color: var(--activeText);
}

.about-kfc-bottom-btn {
  background-color: var(--secondary-color);
  transition: all ease-in-out 0.3s;

  &:hover {
    background-color: var(--primary-color);
    color: black;
  }
}
