.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 10;
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.modal-overlay.ReactModal__Overlay--after-open {
  opacity: 1;
}

.modal-overlay.ReactModal__Overlay--before-close {
  opacity: 0;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ece9e3;
  padding: 20px;
  border-radius: 10px;
  max-width: 350px;
  width: 100%;
  z-index: 20;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.9);
  transition: all 300ms ease-in-out;
}

.ReactModal__Content--after-open {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.ReactModal__Content--before-close {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.9);
}

.toast-info,
.toast-success,
.toast-warning {
  background-color: #ffffff;
  border-radius: 10px;
  font-size: 0.9rem;
}

.toast-info {
  color: #189fff;
}

.toast-success {
  color: #008c2f;
}

.toast-warning {
  color: #ff0808;
}
