// chứa các thiết lập cơ bản, như reset CSS, thiết lập font chữ, body, v.v.

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  background-color: var(--primary-color);
  color: white;
}
