// các đoạn code dùng chung
// _root.scss
@import 'mixins';

:root {
  --secondary-color: #2ecc71;
  --font-family: 'Roboto', sans-serif;
  --font-size-base: 16px;

  --primary-color: #ffc72c;
  --secondary-color: #da291c;
  --thirdary-color: #27251f;
  // =========[Theme-light]===========
}
